
	<div class="added_items">
		<% if session[:products].blank? %>
			<p>No Items in cart. See <a href="/admin/items">Items Listing</a> or create own.</p>
		<% else %>
			<ul>
				<% total_price = 0 %>
				<% for item in session[:products].group_by {|d| d } %>
					<li>
						<% current_item = Item.find(item[0]) %>
						<%= link_to 'X', url_for(:controller => 'sales', :action => 'remove_product', :delete_id => current_item.id), :format => :js, :remote => true %>

						<%= item[1].count %> x <%= current_item.name %> - <span><%= number_to_currency(item[1].count * (current_item.price)) %></span>
					</li>
					<% total_price += item[1].count * (current_item.price) %>
				<% end %>
			</ul>
		<% end %>
		<hr />
		<% unless total_price.blank? %>
			<div class="total_price">
				<strong>Price:</strong> <%= number_to_currency total_price %><br />
				<strong>Tax Amount: $</strong> <%= total_price * 0.0825 %><br />
				<strong>Total Amount: $</strong> <%= total_price * 1.0825 %>
			</div>
		<% end %>
		<% unless session[:products].blank? %>
			<%= link_to 'Remove All Products', url_for(:controller => 'sales', :action => 'remove_all_product'), :format => :js, :remote => true %>
		<% end %>
	</div>

