
	<%= form_for("customer", :url => {:controller => "admin/sales", :action => "add_new_customer_to_sale"}, :method => "get") do |f| %>
		<div class="row">
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
		</div>
		<div class="row">
			<%= f.label :last_name %>
		  <%= f.text_field :last_name %>
		</div>
		<div class="row">
			<%= f.label :email_address %>
		  <%= f.text_field :email_address %>
		</div>
		<div class="row">
			<%= f.label :phone_number %>
		  <%= f.text_field :phone_number %>
		</div>
			<%= f.submit 'Create' %>
	<% end %>



