
<% @items = Item.find(:all).sort_by{|p| p.name.downcase} %>
	<div class="cart_items">
		<h2>Cart</h2>
		<%= render :partial => 'admin/sales/added_item' %>
	</div>
	<%= render :partial => 'admin/sales/line_items' %>
	<%= semantic_form_for [:admin, @sale] do |f| %>
		<div class="cart_items">
				<h2>Payment Method</h2>
				<% if @sale.payment_type.blank? %>
					<%= f.select :payment_type, ['Credit Card', 'Cash'], {:include_blank => true} %>
				<% else %>
					<p><%= @sale.payment_type %></p>
				<% end %>
			</div>

			<div class="cart_items">
				<h2>Choose Existing Customer</h2>
				<%= f.select :customer_id, Customer.find(:all, :order => 'last_name').collect {|p| [ "#{p.last_name}, #{p.first_name}", p.id ]}, {:include_blank => true, :default => nil} %>
			</div>
			<% unless @sale.customer_id.blank? %>
				<div class="cart_items">
					<h2>Customer Info</h2>
					<p>Name: <%= @sale.customer.last_name %>, <%= @sale.customer.first_name %></p>
					<p>Phone Number: <%= @sale.customer.phone_number %></p>
					<p>Email Address: <%= @sale.customer.email_address %></p>
				</div>
			<% end %>
			
			<%= f.inputs :comments, :total_amount, :work_order, :sale_completed, :work_order_completed, :work_order_called %>
			<%= f.actions %>
	<% end %>
