<%= semantic_form_for [:admin, @sale] do |f| %>
<% @items = Item.find(:all) %>


		<% if @sale.id.blank? %>
			<%= render :partial => 'admin/sales/inventory' %>

			<h2>Current Cart</h2>
			<div class="cart_items">
				<%= render :partial => 'admin/sales/added_item' %>
			</div>
			<div class="create_sale">
					<%= link_to "Create Sale", url_for(:controller => 'sales', :action => 'create_sale_with_items') %>
			</div>
		<% else %>


			<div class="sale_wrapper">
				<%= render :partial => 'admin/sales/line_items' %>

				<h2>Payment Method</h2>
				<div class="cart_items">
					<%= f.select :payment_type, ['Credit Card', 'Cash'], {:include_blank => true} %>
				</div>

				<h2>Customer Info</h2>
				<%= f.inputs :first_name, :last_name, :email_address, :phone_number, :address, :city, :state, :zip %>
				<%= f.actions %>
			</div>
		<% end %>
<% end %>