<%= semantic_form_for [:admin, @sale] do |f| %>
<% @items = Item.find(:all) %>
	<h2>Available items</h2>
	<div class="cart_items">
		<% for item in @items %>
			<%= link_to item.name, :controller => 'sales', :action => 'add_item', :format => :js, :remote => true %>
		<% end %>
	</div>

	<!-- <h2>Create Item</h2>
	<div class="cart_items">
		<%= f.inputs %>
		<%= f.inputs %>
	</div> -->

	<h2>Added Items</h2>
	<div class="cart_items">
		<div class="added_items">
			
		</div>
	</div>

	
	<h2>Sale Details</h2>
	<%= f.inputs :sale_number, :total_amount, :payment_type_id %>
	<h2>Customer Info</h2>
	<%= f.inputs :first_name, :last_name, :email_address, :phone_number, :address, :city, :state, :zip %>
	<%= f.actions %>
<% end %>