
	<% if @sale.id.blank? %>
		<div class="cart_items">
			<h2>Current Sale</h2>
			<%= render :partial => 'admin/sales/added_item' %>
		</div>
	<% end %>
	<%= render :partial => 'admin/sales/line_items' %>
	<%= semantic_form_for [:admin, @sale] do |f| %>

			<div class="cart_items">
				<h2>Choose Customer</h2>
				<%= f.select :customer_id, Customer.find(:all, :order => 'last_name').collect {|p| [ "#{p.last_name}, #{p.first_name}", p.id ]}, {:include_blank => true, :default => nil} %>
			</div>
			<% unless @sale.customer_id.blank? %>
				<div class="cart_items">
					<h2>Customer Info</h2>
					<p>Name: <%= @sale.customer.last_name %>, <%= @sale.customer.first_name %></p>
					<p>Phone Number: <%= @sale.customer.phone_number %></p>
					<p>Email Address: <%= @sale.customer.email_address %></p>
				</div>
			<% end %>
			
			<%= f.inputs :special_order, :work_order, :comments %>
			<% unless @sale.id.blank? %>
				<div class="cart_items">
					<h2>Payment Method</h2>
						<%= f.select :payment_type, ['Credit Card', 'Cash', 'Check'], {:include_blank => true} %>
				</div>
				<%= f.inputs :total_amount, :amount_paid, :sale_completed, :work_order_paid, :work_order_called %>
				<% unless @sale.amount_paid.blank? %>
					<h2>Change: <%= @sale.amount_paid - @sale.total_amount %></h2>
				<% end %>
			<% end %>
			<%= f.actions %>
	<% end %>
