
<h1><%= @sale.work_order == true ? 'Work Order' : 'Sale' %> #<%= @sale.id %></h1>

<%= image_tag("chucks_ticket_logo.png") %>
<p>700 E. Yandell<br />
El Paso TX, 79902<br />
(915) 791 - 2006</p>
<p><%= @sale.customer.last_name %>, <%= @sale.customer.first_name %><br />
<%= @sale.customer.email_address %><br />
<%= @sale.customer.phone_number %><br />
<%= @sale.customer.address %><br />
<%= @sale.customer.city %><br />
<%= @sale.customer.zip %></p>
<hr />

<h2>Items Dropped Off</h2>
<%= @sale.item_1 %>

<h2>Line Items</h2>
<% for item in @sale.line_items %>
	<% @item = Item.find(item.item_id) %>
	<%= item.quantity %> x
	<%= @item.sku %>
	<%= @item.name %>
	<%= @item.price %><br />
<% end %>


<hr />

<% unless @sale.payment_type.blank? %>
	<p>Payment Type: <%= @sale.payment_type %></p>
<% end %>

<% if @sale.payment_type == "Cash" %>
	<p>Cash Paid: $<%= @sale.amount_paid %></p>
<% end %>

<% unless @sale.total_amount.blank? %>
	<p>Tax Amount: $<%= @sale.tax_amount %></p>
	<h2>Total Amount: $<%= @sale.total_amount %></h2>
<% end %>