<% if @sales.blank? %>
	<h2>There are no sales with the selected parameters <a href="/admin/reports">Submit Another Request</a></h2>
<% else %>
	<h2>Sales Report for <%= @start_date == @end_date ? "#{@start_date.to_date.strftime("%B %d, %Y")}" : "#{@start_date.to_date.strftime("%B %d, %Y")} - #{@end_date.to_date.strftime("%B %d, %Y")}" %></h2>
  <table>
  	<tr>
  		<th>Sale #</th>
  		<th>Created At</th>
  		<th>Customer Last Name</th>
  		<th>Sale Price</th>
  	</tr>
		<% for sale in @sales %>
			<tr class="sales_graph_item">
				<td><%= sale.id %></td>
				<td class="sale_created_at"><%= sale.created_at %></td>
				<td><%= sale.customer.blank? == true ? 'N/A' : sale.customer.last_name %></td>
				<td class="sale_price"><%= sale.total_amount.blank? == true ? '-' : "$#{sale.total_amount}" %></td>
			</tr>
		<% end %>
  </table>
  <% unless @sales_total.blank? %>
  <hr />
  	Total Sales Amount for selected period: $<%= @sales_total %>
  <% end %>

  <div id="chart_div" class="sales_chart"></div>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Date', 'Sales'],
        <% for sale in @sales %>
          <%= "[#{sale.created_at.to_date}, #{sale.total_amount}]#{sale == @sales.last ? '' : ','}" %>
        <% end %>
      ]);

      var options = {
        // title: 'Company Performance'
        aggregationTarget: 'category',
        hAxis: {
          format: {date:'MMM d, y'},
          title: 'Date',  
          titleTextStyle: {color: '#FF0000'}
        },
        vAxis: {
          title: 'Price',  
          titleTextStyle: {color: '#FF0000'}
        }

      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }

  </script>

<% end %>